* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.solar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  position: relative;
}

.image {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.planetname {
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}
